<template name="main">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://getbootstrap.com">Download Bootstrap!</a>
      </div>
    </div>
  </nav>
  <div class="container templates">
    <div class="page-header">
      <h1>Bootstrap Examples</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a class="thumbnail" href="{{pathFor 'starter'}}">
          <img src="http://getbootstrap.com/examples/screenshots/starter-template.jpg">
        </a>
        <h4>Starter template</h4>
        <p>Nothing but the basics: compiled CSS and JavaScript along with a container.</p>
      </div>
      <div class="col-sm-6">
        <a class="thumbnail" href="{{pathFor 'theme'}}">
          <img src="http://getbootstrap.com/examples/screenshots/theme.jpg">
        </a>
        <h4>Bootstrap theme</h4>
        <p>Load the optional Bootstrap theme for a visually enhanced experience.</p>
      </div>
    </div>
  </div>
</template>